html, body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Comic Sans MS, Comic Neue, Comic Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.alert {
  top:80px;
  display: none;
  margin: 0px;
}
#baby-name-container {
  text-align: center;
  font-size: 3.5em;
  background: #fff;
  height: 100%;
}
#baby-name {
  position: relative;
  top: 10%; 
}
#baby-name img {
  width: 115px;
  height: auto;
}
#button-container {
    position: relative;
    top: 20%;
}
.like-button {
  background-image: url("/img/like-dislike/like.png");
  width: 75px;
  height: 75px;
  float: right;
  margin-right: 20px;
  cursor: pointer;
  background-size: 75px 75px;
  background-position: center;
  background-repeat: no-repeat;
}
.dislike-button {
  background-image: url("/img/like-dislike/dislike.png");
  width: 75px;
  height: 75px;
  float: left;
  margin-left: 20px;
  cursor: pointer;
  background-size: 75px 75px;
  background-position: center;
  background-repeat: no-repeat;
}

.current-user {
    color: #CCCCCC;
    float: right;
    padding: 14px 16px;
    display: inline-block;
}

.container {
    height: 100%;
}

.footer {
    z-index: 9999;
    position: fixed;
    background-color: #e3f2fd;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

#last-card {
    margin-bottom: 75px;
}

.card {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.navbar {
    background-color: #e3f2fd;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

#accept-form button {
  margin-right: 5px;
}