.slide {
  width: 100%;
  height: 98%;
  margin-bottom: 5px;
  display: none;
}

.slide-current {
  display: block;
}

.slide-dots {
  display: block;
  position: relative;
  text-align: center;
}

.dot {
  background: #B2B2B2;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin: 2px;
  width: 10px;
}

.dot-current {
  background: #5492CC;
}

.arrows {
	position: relative;
	bottom: 55%;
	width: 100%;
}

.arrow-left {
  background-image: url("/img/arrow-left.png");
  width: 35px;
  height: 50px;
  float: left;
  opacity: .25;
  cursor: pointer;
  background-size: 35px 50px;
  background-position: center;
  background-repeat: no-repeat;
}
.arrow-right {
  background-image: url("/img/arrow-right.png");
  width: 35px;
  height: 50px;
  float: right;
  opacity: .25;
  cursor: pointer;
  background-size: 35px 50px;
  background-position: center;
  background-repeat: no-repeat;
}

.slide .card-body {
	padding-left: 35px;
	padding-right: 35px;
}

.swipe-image {
	width: 125px;
	height: auto;
}

.results-summary-image {
	width: 200px;
	height: auto;
}

.results-results-image {
	width: 200px;
	height: auto;
}

.results-bothlike-image {
	width: 200px;
	height: auto;
}

.partner-image {
	width: 100px;
	height: auto;
}

.boy-image, .girl-image {
	width: 115px;
	height: auto;
}