<h1>Baby Name Showdown Invite</h1>

<p>You were invited to work with <strong>{{ invitee }}</strong> to find the best baby name. To get started, please log into the application and <a href="{{ url_for('settings', _external=True) }}">go to your account settings</a> to accept this invitation.</p>

<p>Baby Name Showdown is an application that helps you identify the best baby name based on your preferences. The application learns the names you and your partner like and dislike as you use it.</p>

<p><a href="{{ url_for('index', _external=True) }}">babynameshowdown.com</a></p>