<h1>Baby Name Showdown Invite - Revoked</h1>

<p>You and <strong>{{ invitee }}</strong> are no longer sharing results with one another. If you change your mind in the future, feel free to re-invite this person at any time.</p>

<p><a href="{{ url_for('index', _external=True) }}">babynameshowdown.com</a></p>