<h1>Baby Name Showdown Invite - Declined</h1>

<p><strong>{{ invitee }}</strong> unfortunately declined your invitation.</p>

<p><a href="{{ url_for('index', _external=True) }}">babynameshowdown.com</a></p>