<h1>Baby Name Showdown Invite - Accepted</h1>

<p>You and <strong>{{ invitee }}</strong> are on your way to finding the best baby name. {{ invitee }} accepted your invitation! You will now be able to see names that you both like within the results page.</p>

<p><a href="{{ url_for('index', _external=True) }}">babynameshowdown.com</a></p>