{% extends 'base.main.html' %}
{% block maincontent %}
<!-- Begin page content -->
<div class="container">
	<div class="card">
      <h5 class="card-header">Our Story</h5>
      <div class="card-body">
        <p>When my wife and I found out that we were expecting, we eagerly began pondering what name could suit our little baby boy. But we soon ran into a familiar situation; my wife is indecisive! Especially when it comes to names. Most of our fur babies were nameless for months until she had either researched enough or gave up and settled for the name I had deemed upon them.</p>
        <p>I could only imagine how this situation would be exacerbated with a human baby, so I started thinking of how I could help. I unleashed my nerdy side and began developing a site for her to go through baby names where the focus was to reduce hesitation so she couldn't overthink it. And hence Baby Name Showdown was born!</p>
      </div>
    </div>
    <div class="card" id="last-card">
      <h5 class="card-header">About</h5>
      <div class="card-body">
        <p>Baby Name Showdown offers a lot more than simply browsing through baby names. It includes a sophisticated algorithm behind the scenes to help recommend names you like based on previous names you have liked and disliked.</p>
        <p>In addition, if you connect with your partner Baby Name Showdown will integrate both of your preferences to help the two of you find the perfect name you both love.</p>
      </div>
    </div>
</div>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
{% endblock %}