{% extends 'base.html' %}

{% block css %}
<!-- Bootstrap core CSS -->
<link href="{{ url_for ('static', filename='vendor/bootstrap/4.0/css/bootstrap.min.css') }}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{ url_for ('static', filename='vendor/bootstrap/4.0/css/sticky-footer-navbar.css') }}" rel="stylesheet">

{% block extracss %}{% endblock %}
{% endblock %}

{% block content %}
{%- include 'navbar.bootstrap.jinja' %}

{%- include 'notification.bootstrap.jinja' %}

{% block maincontent %}{% endblock %}

{%- include 'footer.bootstrap.jinja' %}
{% endblock %}

{% block js %}
<!-- JQuery -->
<script src="{{ url_for('static', filename='vendor/jquery/3.2.1/jquery.min.js') }}"></script>
<!-- Tether -->
<script src="{{ url_for('static', filename='vendor/tether/1.3.3/js/tether.min.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ url_for('static', filename='vendor/bootstrap/4.0/js/bootstrap.min.js') }}"></script>    
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ url_for('static', filename='vendor/bootstrap/4.0/js/ie10-viewport-bug-workaround.js') }}"></script>

<script src="{{ url_for('static', filename='js/notification.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-mobile-navbar-fix.js') }}"></script>
{% block extrajs %}{% endblock %}
{% endblock %}