{% extends 'base.main.html' %}
{% block maincontent %}
<!-- Begin page content -->
<div class="container">
	<div id="baby-name-container">
		<div id="baby-name">???</div>
		<!-- Add Arrows -->
		<div id="button-container">
			<div class="like-button"></div>
			<div class="dislike-button"></div>
		</div>
	</div>
</div>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/jquery-ui/1.12.1/jquery-ui.min.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
{% endblock %}

{% block extrajs %}
<script src="{{ url_for('static', filename='vendor/jquery-ui/1.12.1/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/touchSwipe/1.6.18/jquery.touchSwipe.min.js') }}"></script>
<!-- Initialize App -->
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}