<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Baby Name Recommender</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
  {%- include 'navbar.jinja' %}
  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div id="baby-name" class="swiper-slide">???</div>
    </div>
    <!-- Add Pagination 
    <div class="swiper-pagination"></div>-->
    <!-- Add Arrows -->
    <div class="like-button"></div>
    <div class="dislike-button"></div>
  </div>      

  <!-- JQuery -->
  <script src="{{ url_for('static', filename='vendor/jquery/3.2.1/jquery.min.js') }}"></script>
    
  <!-- Loading Modal -->
  <script src="{{ url_for('static', filename='vendor/loading-modal/js/jquery.loadingModal.min.js') }}"></script>
    
  <!-- Swiper JS -->
  <script src="{{ url_for('static', filename='vendor/swiper/4.1.0/js/swiper.min.js') }}"></script>
    
  <script src="//cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.1/mobile-detect.min.js"></script>

  <!-- Initialize App -->
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
