<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login:Baby Name Showdown</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Find a baby name with our recommendation system!">
    <meta name="author" content="Tyler Marrs">
    <link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='favicon/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    <!-- Bootstrap core CSS -->
<link href="{{ url_for ('static', filename='vendor/bootstrap/4.0/css/bootstrap.min.css') }}" rel="stylesheet">
<style>
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
      padding-top:100px;
    }
    .card {
      width: 300px;
      padding: 20px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;      
    }
    #google-login {
      width: 75%;
      height: auto;
    }
    ul#login-options {
      list-style-type: none;
    }
    ul#login-options li {
      margin-left: 15px;
      margin-bottom: 15px;
    }
    ul#login-options li:last {
      margin-left: 15px;
      margin-bottom: 0px;
    }
    </style>
</head>
<body>
    <div class="card mx-auto">
        <div align="center"><img id="login-logo" class="card-img-top" src="{{ url_for('static', filename='img/logo.png') }}" /></div>
      <div class="card-block">
        <p class="card-text">        
        <ul id="login-options">          
            <li><a href="{{ url_for('google_login') }}"><img id="google-login" class="card-img-top" src="{{ url_for('static', filename='img/btn_google_signin_dark_normal_web.png') }}" /></a></li>
        {% if not requireauth %}
            <li><a href="{{ url_for('noauth_login') }}">No Auth (Dev)</a></li>
        {% endif %}
        </ul></p>
      </div>
    </div>
</body>
</html>
