<div class="topnav">
    <a {%- if request.path == url_for('index') %} class="active" href="#home" {%- else %} href="{{ url_for('index') }}" {% endif %}>Home</a>
    <a {%- if request.path == url_for('results') %} class="active" href="#results" {%- else %} href="{{ url_for('results') }}" {% endif %}>Results</a>
    <a {%- if request.path == url_for('about') %} class="active" href="#about" {%- else %} href="{{ url_for('about') }}" {% endif %}>About</a>
    <a href="{{ url_for('logout') }}">Logout</a>
    <span class="current-user">Logged in as {{ g.user.full_name() }}</span>
</div>