<!-- Fixed navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light navbar-fixed-height">
  <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" style="height: 45px"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item{%- if request.path == url_for('index') %} active{% endif %}">
        <a class="nav-link{%- if request.path == url_for('index') %} disabled{% endif %}" href="{{ url_for('index') }}">Names</a>
      </li>
      {% if g.user %}
      <li class="nav-item{%- if request.path == url_for('results') %} active{% endif %}"">
        <a class="nav-link{%- if request.path == url_for('results') %} disabled{% endif %}" href="{{ url_for('results') }}">Results</a>
      </li>
      {% endif %}
      <li class="nav-item{%- if request.path == url_for('about') %} active{% endif %}"">
        <a class="nav-link{%- if request.path == url_for('about') %} disabled{% endif %}" href="{{ url_for('about') }}">About</a>
      </li>
      <li class="nav-item{%- if request.path == url_for('tutorial') %} active{% endif %}"">
        <a class="nav-link{%- if request.path == url_for('tutorial') %} disabled{% endif %}" href="{{ url_for('tutorial') }}">Tutorial</a>
      </li>
      {% if not g.user %}
      <li class="nav-item{%- if request.path == url_for('login') %} active{% endif %}"">
        <a class="nav-link{%- if request.path == url_for('login') %} disabled{% endif %}" href="{{ url_for('login') }}">Login</a>
      </li>
      {% endif %}
      {% if g.user %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ g.user.full_name() }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('settings') }}">Settings</a>
            <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
        </div>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>