{% extends 'base.main.html' %}
{% block maincontent %}
<!-- Begin page content -->
<div class="container">
  <div class="card">
      <h5 class="card-header">Summary</h5>
      <div class="card-body">
        <div id="results-stats"></div>
          {%- if g.user.approved_partner() %}
            <h1>We Both Like</h1>
            <div class="table-responsive-sm" id="shared-table-wrapper">
              <table class="table table-striped table-sm" id="shared-table">
                <thead>
                  <tr>
                      <th scope="col">Name</th>
                      <th scope="col">My Likes</th>
                      <th scope="col">Their Likes</th>
                      <th scope="col">% Male</th>
                      <th scope="col">% Female</th>
                      <!--<th scope="col">% Popular</th>-->
                  </tr>
                </thead>
                <tbody><tr><td colspan="6"><strong>Fetching Results...</strong></td></tr></tbody>
              </table>
            </div>
          {% endif %}
      </div>
    </div>
    
    <div class="card" id="last-card">
      <h5 class="card-header">Results</h5>
      <div class="card-body">
        <div class="table-responsive-sm">
  <table class="table table-striped table-sm" id="results-table">
    <thead>
      <tr>
          <th scope="col">Name</th>
          <th scope="col">Likes</th>
          <th scope="col">Dislikes</th>
          <th scope="col">% Male</th>
          <th scope="col">% Female</th>
          <!--<th scope="col">% Popular</th>-->
      </tr>
    </thead>
    <tbody><tr><td colspan="6"><strong>Fetching Results...</strong></td></tr></tbody>
  </table>
  </div>
      </div>
    </div>
</div>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/results.css') }}">
{% endblock %}

{% block extrajs %}
<script src="{{ url_for('static', filename='js/results.js') }}"></script>
{% endblock %}