<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Baby Name Recommender</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/results.css') }}">
</head>
<body>
  {%- include 'navbar.jinja' %}
  <div id="reset-form">
  <form id="reset" action="/api/reset" method="POST">
      <input type="submit" value="Restart?" />
  </form>
  </div>
  <h1>Statistics</h1>
  <div id="results-stats"></div>
  <h1>Results</h1>
  <table id="results-table">
    <thead>
      <tr>
          <th>Name</th>
          <th>Likes</th>
          <th>Dislikes</th>
          <th>% Male</th>
          <th>% Female</th>
          <th>% Popular</th>
      </tr>
    </thead>
    <tbody><tr><td colspan="6"><strong>Fetching Results...</strong></td></tr></tbody>
  </table>
  <!-- JQuery -->
  <script src="{{ url_for('static', filename='vendor/jquery/3.2.1/jquery.min.js') }}"></script>
  <!-- Initialize App -->
  <script src="{{ url_for('static', filename='js/results.js') }}"></script>
</body>
</html>