{% extends 'base.main.html' %}
{% block maincontent %}
<!-- Begin page content -->
<div class="container">

    <div class="card">
      <h5 class="card-header">Partner</h5>
      <div class="card-body">
        <div id="invite-form" {% if show_invite_form %}style="display:block;"{% else %}style="display:none"{% endif %}>
          <p class="card-text">Invite your partner to show names that you both like in the results section.</p>
          <form class="form" method="POST" action="{{ url_for('invite_partner') }}">
            <div class="form-group mb-2">
              <label for="partner-email" class="sr-only">Email</label>
              <input type="text" name="partner_email" class="form-control" id="partner-text" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Invite</button>
          </form>
        </div>
        <div id="accept-form" {% if show_accept_form %}style="display:block;"{% else %}style="display:none"{% endif %}>     
            <p class="card-text">You cannot see your partner's likes yet as you have not accepted their invite.</p>
            <form class="form" method="POST" action="{{ url_for('accept_invite') }}">
              <input type="hidden" name="invite_id" value="{% if received_invitation %}{{ received_invitation.id }}{% endif %}" />
              <div class="form-group mb-2">
                <label for="partner" class="sr-only">{{ received_invitation.partner_email }} (Pending)</label>
                <input type="text" readonly class="form-control-plaintext" id="partner-text" value="{% if received_invitation %}{{ received_invitation.user.full_name() }} (Pending){% endif %}">
              </div>
              <button type="submit" class="btn btn-primary mb-2" value="accept">Accept</button>
              <button type="submit" class="btn btn-danger mb-2" value="decline">Decline</button>
            </form>
        </div>
        <div id="revoke-form-pending" {% if show_revoke_form_pending %}style="display:block;"{% else %}style="display:none"{% endif %}>
          <p class="card-text">You cannot see your partner's likes yet as they have not accepted your invite.</p>
          <form class="form" method="POST" action="{{ url_for('revoke_partner') }}">
            <input type="hidden" name="invite_id" value="{% if sent_invitation %}{{ sent_invitation.id }}{% endif %}" />
            <div class="form-group mb-2">
              <label for="partner" class="sr-only">{% if sent_invitation %}{{ sent_invitation.partner_email }} (Pending){% endif %}</label>
              <input type="text" readonly class="form-control-plaintext" id="partner-text" value="{% if sent_invitation %}{{ sent_invitation.partner_email }} (Pending){% endif %}">
            </div>
            <button type="submit" class="btn btn-danger mb-2">Revoke</button>
          </form>
        </div>
        <div id="revoke-form-accepted" {% if show_revoke_form_accepted %}style="display:block;"{% else %}style="display:none"{% endif %}>
          <p class="card-text">Revoke your partner so they cannot see what you like. You will no longer see what your partner likes if you revoke them.</p>
          <form class="form" method="POST" action="{{ url_for('revoke_partner') }}">
            <input type="hidden" name="invite_id" value="{% if sent_invitation %}{{ sent_invitation.id }}{% endif %}" />
            <div class="form-group mb-2">
              <label for="partner" class="sr-only">{% if partner_full_name %}{{ partner_full_name }} (Accepted){% endif %}</label>
              <input type="text" readonly class="form-control-plaintext" id="partner-text" value="{% if partner_full_name %}{{ partner_full_name }} (Accepted){% endif %}">
            </div>
            <button type="submit" class="btn btn-danger mb-2">Revoke</button>
          </form>
        </div>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">Filter Settings</h5>
      <div class="card-body">
        <p class="card-text">Choose whether you would rather only see: boy names, girl names or both.</p>
        <form class="form-inline" id="name-filter" method="POST" action="{{ url_for('save_name_filter') }}">
          <div class="form-group mb-2">
            <label for="name_filter" class="sr-only">Name Filter</label>
            <select name="name_filter">
                <option value="3" {% if user_settings.filter_state == 3 %}selected {% endif %}>All Names</option>
                <option value="1" {% if user_settings.filter_state == 1 %}selected {% endif %}>Boy Names</option>
                <option value="2" {% if user_settings.filter_state == 2 %}selected {% endif %}>Girl Names</option>
            </select>
          </div>
        </form>
      </div>
    </div>
    <div class="card" id="last-card">
      <h5 class="card-header">Reset Account</h5>
      <div class="card-body">
        <p class="card-text">Clicking this button results in your account being completely reset. You will lose all likes and dislikes that you have accumulated thus far.</p>
        <div id="reset-form">
          <form id="reset" action="/api/reset" method="POST">
              <button type="submit" class="btn btn-danger">Reset My Account</button>
          </form>
        </div>
      </div>
    </div>
</div>
<div id="dialog-confirm-reset" title="Reset Account" style="display:none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Do you really want to reset your account?</p>
</div>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/jquery-ui/1.12.1/jquery-ui.min.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
{% endblock %}

{% block extrajs %}
<script src="{{ url_for('static', filename='vendor/jquery-ui/1.12.1/jquery-ui.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}