{% extends 'base.main.html' %}
{% block maincontent %}
<!-- Begin page content -->
<div class="container slide-container">
  <div class="card slide slide-current">
    <h5 class="card-header">How It Works</h5>
    <div class="card-body">
      <p><strong>It's simple!</strong></p>
      <p>The more names you like, the more the system learns your personal preferences.</p>
      <img src="{{ url_for('static', filename='img/how_it_works.png') }}" />
    </div>
  </div>

  <div class="card slide">
    <h5 class="card-header">Using the Application</h5>
    <div class="card-body">
      <p>You can swipe, click or use the left and right arrow keys.</p>
      <div align="center">
        <img src="{{ url_for('static', filename='img/swipes/swipe-left-right.png') }}" class="swipe-image" />
      </div>      
    </div>
  </div>

  <div class="card slide">
    <h5 class="card-header">See Your Results</h5>
    <div class="card-body">
      <p>The summary section displays an overview of names liked, disliked and how many you have went through.</p>
      <div align="center">
        <img src="{{ url_for('static', filename='img/results-summary.png') }}" class="results-summary-image" />
      </div>
      <p>The results section lists names liked by you with information about each name.</p>
      <div align="center">
        <img src="{{ url_for('static', filename='img/results-results.png') }}" class="results-results-image" />
      </div>
    </div>
  </div>

  <div class="card slide">
    <h5 class="card-header">Connect With Your Partner</h5>
    <div class="card-body">
      <p>Invite your partner from the settings so that you can go through names together.</p>
      <div align="center">
        <img src="{{ url_for('static', filename='img/partner/vectorstock_20458742_transparent.png') }}" class="partner-image" />
      </div>
      <p>Once connected, you can see the names that you both like in the results!</p>
      <div align="center">
        <img src="{{ url_for('static', filename='img/results-bothlike.png') }}" class="results-bothlike-image" />
      </div>
    </div>
  </div>

  <div class="card slide">
    <h5 class="card-header">Filter by Gender</h5>
    <div class="card-body">
      <p>Know that you're having a boy or girl?</p>
      <p>Use the gender filter option in the settings to display only boy names, only girl names, or all names.</p>
      <div align="center">
        <img src="{{ url_for('static', filename='img/gender-icons/male.png') }}" class="boy-image" />
        <img src="{{ url_for('static', filename='img/gender-icons/female.png') }}" class="girl-image" />
      </div>
    </div>
  </div>

  <div class="card slide">
    <h5 class="card-header">Let's Get Started!</h5>
    <div class="card-body">
      <div align="center">
        <a class="btn btn-primary get-started-button" href="{{ url_for('index') }}" role="button">Get Started</a>
      </div>
    </div>
  </div> 

  <div class="slide-dots"></div>

  <div class="arrows">
    <div class="arrow-left"></div>    
    <div class="arrow-right"></div>
  </div>
</div>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tutorial.css') }}">
{% endblock %}

{% block extrajs %}
<script src="{{ url_for('static', filename='vendor/touchSwipe/1.6.18/jquery.touchSwipe.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/tutorial.js') }}"></script>
{% endblock %}